<div class="col-12 d-flex justify-content-center p-2 m-2">
    <button class="btn assistant-btn p-2  border-bottom rounded-0 text-white btn-red ">
        <strong>
            Retiro
        </strong>
    </button>
</div>
<div class="col-12 d-flex justify-content-center  p-2 m-2">
    <button class="btn assistant-btn p-2 border-bottom rounded-0 text-white btn-green">
        <strong>
            Ingreso
        </strong>
    </button>
</div>
<div class="col-12 d-flex justify-content-center p-2 m-2">
    <button class="btn assistant-btn p-2  border-bottom rounded-0 text-white btn-blue">
        <strong>
            Calculadora
        </strong>
    </button>
</div>
<div class="col-12 d-flex justify-content-center p-2 m-2">
    <button class="btn assistant-btn p-2  border-bottom rounded-0 text-white btn-gray">
        <strong>
            Facturas
        </strong>
    </button>
</div>
