<div class="modal fade" id="BasicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog d-flex justify-content-center " role="document" style="min-width: 80vw;">
        <div class="modal-content w-fc">
            <div class="modal-header text-center">
                <div class="container-fluid flex-wrap d-flex">

                    <div class="col-md-12 p-2">
                        <h3 id="modalTitle"></h3>
                    </div>
                </div>
            </div>
            <div class="modal-body w-fc" id="BasicModalContent">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
