
<div class=" bill-modal-base p-0">
    <div class="d-flex flex-wrap p-0 justify-content-center container-fluid">

        <div class="col-5 d-flex flex-wrap p-0 justify-content-center  options-container">

            <div class="col-md-12 p-0  d-flex flex-wrap mb-1">


                <div class="col-md-12 m-1 p-0 d-flex flex-wrap justify-content-center">
                    <h4 class="col-12 p-3 m-2 text-white text-center ">Uso frecuente</h4>

                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-2 m-1 p-3 rounded  select-product text-center justify-content-center">
                        Arroz con pollo
                    </div>


                </div>
            </div>


            <div class="col-md-12 m-1 p-0  d-flex flex-wrap justify-content-center">
                <div class="col-md-6  options-container-header text-center text-white">
                    <h6 class="">Categorias</h6>
                </div>

                <div class="col-md-6 options-container-header text-white text-center">
                    <h6>Sub-Categorias</h6>
                </div>
            </div>

            <div class="col-md-12 d-flex flex-wrap justify-content-center ">

                <div class="col-md-6 d-flex flex-wrap justify-content-center options-container-list">

                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>

                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>

                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>

                </div>
                <div class="col-md-6 d-flex flex-wrap justify-content-center options-container-list">

                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>

                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>

                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                    <div class="col-md-12 my-2 p-3 rounded  category-product text-center justify-content-center">
                        Arroz con pollo
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 p-3  ">
            <div class="col-md-12 d-flex flex-wrap border-right border-left ">

                <input type="search" class="form-control col-12" placeholder="Search..." aria-label="Search for...">

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>

                <div class="col-md-12 my-2 p-3 rounded  product text-center justify-content-center">
                    Arroz con pollo
                </div>
            </div>

        </div>

        <div class="col-5 d-flex flex-wrap p-0  rounded  room-container ">

            <div class="col-12 text-white text-center p-2 bill-order-name">
                <h4>  <strong> Orden #3256</strong></h4>
            </div>

            <div class="col-12 p-1 d-flex flex-wrap text-white p-1">

                <div class="col-md-6 p-1 d-flex flex-wrap ">
                    <label class="mx-2 col-md-6">Nombre</label>
                    <input type="text" class="form-control rounded" />
                </div>

                <div class="col-md-6 p-1 d-flex flex-wrap ">
                    <label class="mx-2 col-md-6">Telefono</label>
                    <input type="number" class="form-control rounded" />
                </div>

                <div class="col-md-6 p-1 d-flex flex-wrap ">
                    <label class="mx-2 col-md-6">Direcciones</label>
                    <input type="text" class="form-control rounded" />
                </div>

            </div>

            <div class="col-12 bill-header d-flex flex-wrap text-white text-center border-white border-bottom border-top px-0 py-4">

                <div class="col-1 justify-content-center align-items-center bill-item-check">
                    <input class="form-check" type="checkbox" checked />
                </div>
                <div class="col-2">
                    <h6>
                        <strong>
                            Producto
                        </strong>
                    </h6>
                </div>
                <div class="col-2">
                    <h6>
                        <strong>
                            Cantidad
                        </strong>
                    </h6>
                </div>
                <div class="col-2">
                    <h6>

                        <strong>
                            Cdu
                        </strong>
                    </h6>
                </div>
                <div class="col-2 px-1">
                    <h6>

                        <strong>
                            Total
                        </strong>
                    </h6>
                </div>
                <div class="col-3">
                    <h6>
                        <strong>
                            Observacion:
                        </strong>
                    </h6>
                </div>
            </div>

            <div class="bill-body col-12 p-0">
                @for (int i = 0; i < 8; i++)
                {

                    <div class="col-12 bill-item d-flex flex-wrap text-white text-center border-white ">
                        <div class="col-1 justify-content-center align-items-center bill-item-check">
                            <input class="form-check" type="checkbox" checked />
                        </div>
                        <div class="col-2">
                            Arroz con pollo
                        </div>
                        <div class="col-2">
                            2
                        </div>
                        <div class="col-2">
                            ¢3,000
                        </div>
                        <div class="col-2">
                            ¢6,000
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control rounded" />

                        </div>
                    </div>
                }
            </div>

            <div class="col-12 d-flex flex-wrap text-white  mt-2">

                <div class="col-md-6 d-flex flex-wrap justify-content-center ">
                    <div class="col-md-8 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
                        <i class="fas fa-concierge-bell col-md-12" style="font-size:30px;"></i>
                        <span class="col-md-12">
                            Comandar
                        </span>
                    </div>
                    <div class="col-md-8 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
                        <i class="fas fa-percent col-md-12" style="font-size:30px;"></i>
                        <span class="col-md-12">
                            Descuento
                        </span>
                    </div>
                </div>

                <div class="col-md-6 d-flex flex-wrap justify-content-center ">
                    <div class="col-12 p-0 d-flex flex-wrap ">
                        <h5 class="col-md-6 m-0 d-flex align-items-center p-0">
                            <strong>
                                Descuento:
                            </strong>
                        </h5>
                        <h5 class="col-md-4 mx-2 m-0 d-flex align-items-center p-0">¢2,000</h5>
                    </div>

                    <div class="col-12 p-0 d-flex flex-wrap">
                        <h5 class="col-md-6 m-0 d-flex align-items-center p-0">
                            <strong>
                                Impuestos:
                            </strong>
                        </h5>
                        <h5 class="col-md-4 mx-2 m-0 d-flex align-items-center p-0">¢1,800</h5>

                    </div>
                    <div class="col-12 p-0 d-flex flex-wrap ">
                        <h5 class="col-md-6 m-0 d-flex align-items-center p-0">
                            <strong>
                                Subtotal:
                            </strong>
                        </h5>
                        <h5 class="col-md-4 mx-2 m-0 d-flex align-items-center p-0">¢1,800</h5>

                    </div>
                    <div class="col-12 p-0 d-flex flex-wrap ">
                        <h5 class="col-md-6 m-0 d-flex align-items-center p-0">
                            <strong>
                                Total:
                            </strong>
                        </h5>
                        <h5 class="col-md-4 mx-2 m-0 d-flex align-items-center p-0">¢24,800</h5>
                    </div>
                </div>



                <div class="col-12 d-flex flex-wrap pt-2  text-white justify-content-end ">
                    <div class="d-flex flex-wrap col-md-6 justify-content-center">
                        <div class="col-md-12 justify-content-end d-flex p-2">

                            <i class="fab fa-cc-visa col-3 p-0" style="font-size:30px;"></i>
                            <input type="text" name="name" value="" class="form-control " />
                        </div>
                        <div class="col-md-12 justify-content-end d-flex p-2">
                            <span class="col-3 p-0">
                                ¢
                                <i class="fas  fa-coins " style="font-size:30px;"></i>
                            </span>
                            <input type="text" name="name" value="" class="form-control " />
                        </div>
                        <div class="col-md-12 justify-content-end d-flex p-2">
                            <span class="col-3 p-0">
                                $
                                <i class="fas fa-file-invoice-dollar" style="font-size:30px;"></i>
                            </span>                        <input type="text" name="name" value="" class="form-control " />
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12 d-flex flex-wrap text-white p-4 justify-content-sm-between ">

                <div class="col-md-3 d-flex flex-wrap justify-content-center p-1 bill-btn " data-toggle="modal" data-target="#SliceAccount">
                    <i class="fas fa-users col-md-12" style="font-size:30px;"></i>
                    <span class="col-md-12">
                        Dividir cuenta
                    </span>
                </div>

                <div class="col-md-3 d-flex flex-wrap justify-content-center p-1 pt-2 bill-btn " onclick="separateAccount()">
                    <i class="fas fa-receipt col-md-5" style="font-size:30px;"></i>
                    <i class="fas fa-receipt col-md-5" style="font-size:30px;"></i>

                    <span class="col-md-12">
                        Separar cuenta
                    </span>
                </div>

                <div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color: rgba(40, 167, 69, .6) !important;">
                    <i class="fas fa-cash-register " style="font-size:30px; "></i>
                    <span class="col-md-12">
                        Facturar
                    </span>
                </div>

                <div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color:rgba(220, 53, 69, .6) !important;">
                    <i class="fas fa-times " style="font-size:30px;"></i>
                    <span class="col-md-12">
                        Anular
                    </span>
                </div>
            </div>



            <div class="col-md-12 d-flex p-0" style="position:absolute; bottom:0;">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>


        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center ">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>
</div>

<script>

    function separateAccount() {
        var elements = document.getElementsByClassName("bill-item-check");

        for (var check of elements) {
            check.style.display = "flex";
        }

    }

</script>