@model IlCapo.Models.Bill


<div class=" bill-modal-base p-0">
    <div class="d-flex flex-wrap p-0 justify-content-center container-fluid">

        <div class="col-4 d-flex flex-wrap p-0 justify-content-center  options-container">

            <div class="col-md-12 p-0  d-flex flex-wrap mb-1">


                <div class="col-md-12 m-1 p-0 d-flex flex-wrap justify-content-center" style="height: 45vh !important;">
                    <h5 class="col-12 p-1 m-2 text-center " style="text-shadow: 2px 2px 1px lightgrey;">Uso frecuente</h5>
                    @for (int i = 0; i < 12; i++)
                    {

                        <div class="m-1 p-1 rounded  select-product text-center justify-content-center">
                            arroz con pollo
                            <br />
                            <small>Entero</small>
                        </div>
                    }
                </div>
            </div>


            <div class="col-md-12 m-1 p-0 d-flex flex-wrap justify-content-center" style="height: 5vh !important">
                <div class="col-md-6 p-0 options-container-header text-center">
                    <h5 class="p-0" style="text-shadow: 2px 2px 1px lightgrey;">
                        Categorias
                    </h5>
                </div>

                <div class="col-md-6 p-0 options-container-header text-center">
                    <h5 class="p-0" style="text-shadow: 2px 2px 1px lightgrey;">
                        Sub-Categorias
                    </h5>
                </div>
            </div>

            <div class="col-md-12 d-flex flex-wrap justify-content-center categories-section">

                <div class="col-md-6 d-flex flex-wrap justify-content-center options-container-list">

                    @if (ViewBag.Category != null)
                    {

                        foreach (var category in ViewBag.Category)
                        {
                            <div class="col-md-12 my-2 p-1 rounded category-product text-center justify-content-center">
                                @category.Name
                            </div>
                        }
                    }



                </div>
                <div class="col-md-6 d-flex flex-wrap justify-content-center options-container-list">

                    @if (ViewBag.Category != null)
                    {

                        foreach (var category in ViewBag.Category)
                        {
                            <div class="col-md-12 my-2 p-1 rounded category-product text-center justify-content-center">
                                @category.Name
                            </div>
                        }
                    }


                </div>
            </div>
        </div>

        <div class="col-md-2 p-3 " style="height: 95vh !important; overflow-y: scroll;">
            <input type="search" autocomplete="off" class="form-control col-12" onkeyup="search()" placeholder="Buscar..." id="search" style="box-shadow: 2px 10px 11px -3px gray; font-size: 20px;">
            <div class="col-md-12 d-flex flex-wrap border-right border-left " id="search-result">
            </div>
        </div>

        <div class="col-6 d-flex flex-wrap p-2  rounded  room-container " style="height: 100vh !important;">
            <div class="col-12 text-white text-center p-0 bill-order-name">
                <h5><strong> Orden #3256</strong></h5>
            </div>
            <div class="col-12 p-1 d-flex flex-wrap text-white p-0" style="height: 13vh !important;">

                <div class="col-md-4 p-1 d-flex flex-wrap justify-content-center">
                    <label class="mx-2 col-md-6">Nombre</label>
                    <input type="text" class="form-control rounded" />
                </div>

                <div class="col-md-4 p-1 d-flex flex-wrap justify-content-center ">
                    <label class="mx-2 col-md-6">Telefono</label>
                    <input type="number" class="form-control rounded" />
                </div>

                <div class="col-md-4 p-1 d-flex flex-wrap justify-content-center ">
                    <label class="mx-2 col-md-6">Direcciones</label>
                    <input type="text" class="form-control rounded" />
                </div>

            </div>

            <div class="col-12 bill-header d-flex flex-wrap text-white text-center border-white border-bottom border-top p-1">

                <div class="col-1 justify-content-center align-items-center bill-item-check">
                    <input class="form-check" type="checkbox" checked />
                </div>
                <div class="col-3 p-0">
                    <h6>
                        <strong>
                            Producto
                        </strong>
                    </h6>
                </div>
                <div class="col-2 p-0">
                    <h6>
                        <strong>
                            Cantidad
                        </strong>
                    </h6>
                </div>
                <div class="col-1 p-0">
                    <h6>

                        <strong>
                            Cdu
                        </strong>
                    </h6>
                </div>
                <div class="col-2 p-0">
                    <h6>

                        <strong>
                            Total
                        </strong>
                    </h6>
                </div>
                <div class="col-3 p-0">
                    <h6>
                        <strong>
                            Observacion:
                        </strong>
                    </h6>
                </div>
            </div>

            <div class="bill-body col-12 p-1">
                @for (int i = 0; i < 1; i++)
                {

                    <div class="col-12 bill-item d-flex flex-wrap text-white text-center border-white ">
                        <div class="col-1 justify-content-center align-items-center bill-item-check">
                            <input class="form-check" type="checkbox" checked />
                        </div>
                        <div class="col-3 p-0">
                            Arroz con pollo
                        </div>
                        <div class="col-2 p-0">
                            2
                        </div>
                        <div class="col-1 p-0">
                            ¢3,000
                        </div>
                        <div class="col-2 p-0">
                            ¢6,000
                        </div>
                        <div class="col-3 p-0">
                            <input type="text" class="form-control rounded" />

                        </div>
                    </div>
                }
            </div>

            <div class="col-12 d-flex flex-wrap text-white  mt-2">

                <div class="col-md-6 d-flex flex-wrap justify-content-around ">
                    <div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
                        <i class="fas fa-concierge-bell col-md-12" style="font-size:30px;"></i>
                        <span class="col-md-12">
                            Comandar
                        </span>
                    </div>
                    <div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
                        <i class="fas fa-percent col-md-12" style="font-size:30px;"></i>
                        <span class="col-md-12">
                            Descuento
                        </span>
                    </div>
                    <div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
                        <i class="fas fa-users col-md-12" style="font-size:20px;"></i>
                        <span class="col-md-12">
                            Dividir cuenta
                        </span>
                    </div>
                    <div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
                        <i class="fas fa-receipt col-md-6 " style="font-size:25px;"></i>
                        <i class="fas fa-receipt col-md-6 " style="font-size: 25px;"></i>

                        <span class="col-md-12 ">
                            Separar cuenta
                        </span>
                    </div>
                </div>

                <div class="col-md-6 d-flex flex-wrap justify-content-center ">
                    <div class="col-12 p-0 d-flex flex-wrap ">
                        <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
                            <strong>
                                Descuento:
                            </strong>
                        </label>
                        <h6 class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">¢2,000</h6>
                    </div>

                    <div class="col-12 p-0 d-flex flex-wrap">
                        <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
                            <strong>
                                Impuestos:
                            </strong>
                        </label>
                        <h6 class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">¢1,800</h6>

                    </div>
                    <div class="col-12 p-0 d-flex flex-wrap ">
                        <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
                            <strong>
                                Subtotal:
                            </strong>
                        </label>
                        <h6 class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">¢1,800</h6>

                    </div>
                    <div class="col-12 p-0 d-flex flex-wrap ">
                        <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
                            <strong>
                                Total:
                            </strong>
                        </label>
                        <h6 class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">¢24,800</h6>
                    </div>
                </div>

                <div class="d-flex flex-wrap col-md-6 p-0 justify-content-center">
                    <div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color: rgba(40, 167, 69, .6) !important;">
                        <i class="fas fa-cash-register " style="font-size: 30px;"></i>
                        <span class="col-md-12">
                            Facturar
                        </span>
                    </div>

                    <div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color:rgba(220, 53, 69, .6) !important;">
                        <i class="fas fa-times " style="font-size:30px;"></i>
                        <span class="col-md-12">
                            Anular
                        </span>
                    </div>
                </div>



                <div class="d-flex flex-wrap col-md-6 p-0 justify-content-center">
                    <div class="col-md-12 justify-content-end d-flex p-1">

                        <i class="fab fa-cc-visa col-3 p-0" style="font-size:30px;"></i>
                        <input type="text" name="name" value="" class="form-control " />
                    </div>
                    <div class="col-md-12 justify-content-end d-flex p-1">
                        <span class="col-3 p-0">
                            ¢
                            <i class="fas  fa-coins " style="font-size:30px;"></i>
                        </span>
                        <input type="text" name="name" value="" class="form-control " />
                    </div>
                    <div class="col-md-12 justify-content-end d-flex p-1">
                        <span class="col-3 p-0">
                            $
                            <i class="fas fa-file-invoice-dollar" style="font-size:30px;"></i>
                        </span>                        <input type="text" name="name" value="" class="form-control " />
                    </div>
                </div>
            </div>



            @*<div class="col-12 d-flex flex-wrap text-white p-4 justify-content-sm-between ">



                    <div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color: rgba(40, 167, 69, .6) !important;">
                        <i class="fas fa-cash-register " style="font-size: 30px;"></i>
                        <span class="col-md-12">
                            Facturar
                        </span>
                    </div>

                    <div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color:rgba(220, 53, 69, .6) !important;">
                        <i class="fas fa-times " style="font-size:30px;"></i>
                        <span class="col-md-12">
                            Anular
                        </span>
                    </div>
                </div>*@



            <div class="col-md-12 d-flex p-0" style="position:absolute; bottom:0;">
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
                <div class="triangle"></div>
            </div>


        </div>
    </div>

</div>

