@model ICollection<IlCapo.Models.Bill>

@{
    IlCapo.Models.Bill newBill = new IlCapo.Models.Bill();
    newBill.BillId = 0;
    var tableId = 1;

}

<div class=" d-flex flex-wrap room ">

    @for (int i = 1; i < 13; i++)
    {
        var visibility = 1;
        var wall = "";

        if (i == 4 || i == 6)
        {
            wall = "2px solid";
        }

        if (i == 2 || i == 5 || i == 8 || i == 11)
        {
            <div class="col-md-4"></div>
        }
        else
        {
            <div class="col-md-4 d-flex justify-content-center align-items-center flex-wrap " id="@tableId" style="opacity: @visibility; border-top:  @wall;" onclick="getBill(this.id, false, 0)">

                <a class="table-room justify-content-center align-items-center d-flex" data-toggle="modal" data-target="#exampleModal">
                    <span>@tableId</span>
                </a>
                <div class="col-md-12 d-flex justify-content-center ">
                    <div class="rounded" style="width:150px; height: 50px; background-color: rgba(0,0,0,.6); margin-top: -1vh;">

                    </div>
                </div>
            </div>
            tableId++;
        }
    }


</div>
