<div class="col-12 text-white text-center p-0 bill-order-name">
    <h5><strong> Orden #3256</strong></h5>
</div>
<div class="col-12 p-1 d-flex flex-wrap text-white p-0" style="height: 13vh !important;">

    @Html.Partial("BillParts/ClientInfo")

</div>

@Html.Partial("BillParts/BillProducts")


<div class="col-12 d-flex flex-wrap text-white  mt-2">

    <div class="col-md-6 d-flex flex-wrap justify-content-around ">
        @Html.Partial("BillParts/BillActions")

    </div>

    <div class="col-md-6 d-flex flex-wrap justify-content-center ">
        @Html.Partial("BillParts/BillPayMethod")

    </div>

</div>


<div class="col-md-12 d-flex p-0" style="position:absolute; bottom:0;">
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
    <div class="triangle"></div>
</div>


