<div class="col-md-12 p-0  d-flex flex-wrap mb-1">


    <div class="col-md-12 m-1 p-0 d-flex flex-wrap justify-content-center" style="height: 45vh !important;">
        <h5 class="col-12 p-1 m-2 text-center " style="text-shadow: 2px 2px 1px lightgrey;">Uso frecuente</h5>
        @for (int i = 0; i < 12; i++)
        {

            <div class="m-1 p-1 rounded  select-product text-center justify-content-center">
                arroz con pollo
                <br />
                <small>Entero</small>
            </div>
        }
    </div>
</div>
