<div class="col-md-12 p-0  d-flex flex-wrap mb-1">


    <div class="col-md-12 m-1 p-0 d-flex flex-wrap justify-content-center" style="height: 45vh !important;">
        <h5 class="col-12 p-1 m-2 text-center " style="text-shadow: 2px 2px 1px lightgrey;">Uso frecuente</h5>
        @{
            var i = 0;
            foreach (var favorite in ViewBag.Favorites)
            {
                if (i < 9)
                {
                    <div class="m-1 nebulosa-btn p-1 rounded d-flex flex-wrap  select-product text-center justify-content-center align-content-center" id="@favorite.ProductId" onclick="addProductToBill(this.id)">
                        <span class="col-12">
                            @favorite.Name
                        </span>
                        <small class="col-12">
                        @favorite.ProductSubCategory.Name
                        </small>
                    </div>
                    i++;
                }

            }
        }
    </div>
</div>
