    <input type="search" autocomplete="off" class="form-control col-12" onkeyup="search()" placeholder="Buscar..." id="search" style="box-shadow: 2px 10px 11px -3px gray; font-size: 20px;">
    <div class="col-md-12 d-flex flex-wrap border-right border-left " id="search-result">
    </div>
