@model IlCapo.Models.Bill


<div class=" bill-modal-base p-0 ">

    <div class="d-flex flex-wrap p-0 justify-content-center container-fluid ">

        <div class="col-4 d-flex flex-wrap p-0 justify-content-center  options-container" id="selectProducts">
            @Html.Partial("TableMenu/Favorites")
            @Html.Partial("TableMenu/CategoryFilter")
        </div>

        <div class="col-md-2 p-1" style="height: 95vh !important; overflow-y: scroll;" id="searchProducts">
            @Html.Partial("TableMenu/SearchProducts")
        </div>

        <div class="col-6 d-flex flex-wrap p-0  rounded  shadow-sm room-container " style="height: 100vh !important;">
            @Html.Partial("TableMenu/Bill", Model)
        </div>

    </div>

</div>


