body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.room-container {
    background-color: rgba(23, 162, 184, .7);
    min-height: fit-content;
    overflow: hidden;
    font-weight: 900;
    text-shadow: 1px 1px 0px grey;
}

.options-container {
    height: fit-content;
}

.options-container-header {
    margin-bottom: 5px;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.options-container-list {
    overflow-y: scroll;
    height: 350px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, .8);
    border-right: 11px solid transparent;
}

.bill-order-name {
    align-items: center;
    /* align-content: center; */
    display: flex;
    text-align: center;
    justify-content: center;
    max-height: 90px;
}

.bill-header {
    max-height: 75px;
}

.bill-item {
    border-bottom: dotted;
    padding: 3px 0;
}

.bill-item-check {
    display: none;
}

.bill-body {
    height: 200px;
    background-color: rgba(255, 255, 255, .4);
    overflow-y: scroll;
}

.bill-modal-base {
    min-width: 80vw;
    background-color: rgba(0, 0, 0, .9);
}

.select-product {
    background-color: rgba(255, 193, 7, .8);
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-weight: bolder;
}

.product {
    background-color: rgba(23, 162, 184, .7);
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-weight: bolder;
}

.category-product {
    background-color: rgba(220, 53, 69, .7);
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-weight: bolder;
}

.room {
    background-color: white;
    margin: 5vh 0;
    height: 78vh;
    border-radius: 15px;
    width: 70vw;
}

.table-room {
    background-color: #343a40;
    height: 80px;
    width: 80px;
    border-radius: 90px;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 0px 0px 15px grey;
    border: 2px solid #ffc107;
}

.bill-btn {
    background-color: rgba(0,0,0,.7);
    text-align: center;
    box-shadow: 5px 5px 13px black;
    border-radius: 10px;
    color: white;
}

.loader-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    z-index: 10000;
}

.slice-gif {
    animation-duration: 1s;
    animation-name: sizeGif;
    animation-iteration-count: infinite;
}

.w-fc {
    width: fit-content;
}

@keyframes sizeGif {
    0% {
        height: 50px;
    }

    50% {
        height: 100px;
    }

    100% {
        height: 50px;
    }
}

.express {
    transition: all 1s cubic-bezier(.42,0,.23,1.09);
}

.assistant {
    width: 12vw;
    padding: 15px !important;
    height: fit-content;
    margin-top: 25vh;
    background-color: rgba(0, 0, 0, .8);
    /* border-radius: 7px; */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 2px solid #ffc107;
}

.assistant-btn {
    border-color: #ffc107;
    border-radius: 90px;
    color: #ffc107 !important;
}











.btn-red:hover {
    background-color: rgba(220,53,69,.5);
    color: white !important;
    border: 1px solid rgba(220,53,69,.5);
}

.btn-blue:hover {
    background-color: rgba(0, 123, 255, .5);
    color: white !important;
    border: 1px solid rgba(0, 123, 255, .5);
}

.btn-green:hover {
    background-color: rgba(40, 167, 69, .5);
    color: white !important;
    border: 1px solid rgba(40, 167, 69, .5);
}

.btn-gray:hover {
    background-color: rgba(108, 117, 125, .5);
    color: white !important;
    border: 1px solid rgba(108, 117, 125, .5);
}

.btn-yellow:hover {
    background-color: rgba(255, 193, 7, .5);
    color: white !important;
    border: 1px solid rgba(255, 193, 7, .5);
}
