body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.value-manager {
    color: rgba(0,0,0,.4);
    transition: all ease 500ms;
}

    .value-manager:hover {
        color: rgba(40, 167, 69, 1);
        transform: scale(1.5);
    }

.red {
    color: rgba(0,0,0,.4);
}

    .red:hover {
        color: red !important;
    }


.to-go-selected {
    background-Color : #ffc107;
}



.extras-container {
    opacity: 0;
    display: none;
    transition: all 3s ease;
    background: black;
    min-height: 2vh;
    min-width: 2vw;
    border: 1px solid #ffc107;
    z-index: 1;
    border-radius: 12px;
    border-top-left-radius: inherit;
    left: 4.5vw;
    top: 2vh;
    padding: 10px;
}

.extra-button {
    height: 4vh;
    width: 10vw;
}


.selected {
    background: green !important;
    color: white !important;
}

.side-edit {
    position: absolute;
    right: 10px;
}

.nebulosa-btn {
    border: 2px solid transparent;
}

    .nebulosa-btn:hover {
        border: 2px solid #ffc107;
        transform: perspective(500px) translate3d(0px,0px,30px);
    }

.room-container {
    background-color: rgba(23, 162, 184, 1);
    min-height: fit-content;
    overflow: hidden;
    font-weight: 900;
    text-shadow: 1px 1px 0px grey;
}

.options-container {
    height: fit-content;
}

.options-container-header {
    margin-bottom: 5px;
    color: black;
    padding: 15px;
    border-radius: 5px;
}

.options-container-list {
    overflow-y: scroll;
    max-height: 43vh;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-bottom: 8px solid white;
    border-right: 11px solid transparent;
}

.product-price {
    margin-left: -0.6vw;
}

.bill-order-name {
    align-items: center;
    /* align-content: center; */
    display: flex;
    text-align: center;
    justify-content: center;
    height: 8vh !important;
}

.bill-header {
    height: 5vh;
}

.bill-actions {
    z-index: 1000;
    border: 1px solid rgba( 0, 0, 0, .5);
    padding: 3vh 3vw;
    position: absolute;
    background: rgba(255, 255, 255, 9);
    color: black;
    height: 50vh;
    width: 50vw;
    top: -50vh;
    left: 25vw;
    border-radius: 15px;
    transition: all 1s ease;
}

.bill-item {
    border-bottom: solid;
    padding: 6px 0;
    height: fit-content;
}

.bill-item-check {
    display: none;
}

.bill-body {
    height: 50vh;
    background-color: rgba(255, 255, 255, .4);
    overflow-y: scroll;
}

.bill-modal-base {
    min-width: 80vw;
    /*background-color: rgba(0, 0, 0, .9);*/
}

.select-product {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-weight: bolder;
    box-shadow: 2px 10px 11px -3px grey;
    width: 30%;
    font-size: 14px;
}

.product {
    background-color: rgba(23, 162, 184, .7);
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-weight: bolder;
}

.categories-section {
    margin-left: 5px;
    border: 2px solid #ffc107;
    padding: 10px;
    border-radius: 15px;
    background: rgba(0,0,0,.8);
    box-shadow: 2px 10px 11px 0px grey;
    height: 46vh !important;
}




.category-product {
    color: rgba(0, 0, 0, .7);
    font-weight: bolder;
    height: 45px;
    border: 1px solid #28a745;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 1px 4px black;
    color: white;
    border-left: none;
    border-right: none;
}

.room {
    background-color: white;
    margin: 5vh 0;
    height: 78vh;
    border-radius: 15px;
    width: 70vw;
}

.table-room {
    background-color: #343a40;
    height: 80px;
    width: 80px;
    border-radius: 90px;
    text-shadow: 1px 1px 1px grey;
    box-shadow: 0px 0px 15px grey;
    border: 2px solid #ffc107;
    border-right: none;
    border-left: none;
    color: white !important;
}

.bill-btn {
    border: 1px solid #ffc107;
    background-color: rgba(0,0,0,.7);
    text-align: center;
    box-shadow: 5px 5px 13px black;
    border-radius: 10px;
    color: white;
    min-width: 40% !important;
    max-width: 40% !important;
    border-left: none;
    border-right: none;
}

.loader-container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, .8);
    display: none;
    z-index: 10000;
}

.slice-gif {
    animation-duration: 1s;
    animation-name: sizeGif;
    animation-iteration-count: infinite;
}

.w-fc {
    width: fit-content;
}

@keyframes sizeGif {
    0% {
        height: 50px;
    }

    50% {
        height: 100px;
    }

    100% {
        height: 50px;
    }
}

.express {
    transition: all 1s cubic-bezier(.42,0,.23,1.09);
}

.assistant {
    width: 12vw;
    padding: 15px !important;
    height: fit-content;
    margin-top: 25vh;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: -10px 10px 5px 4px gray !important;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 2px solid #ffc107;
    border-right: none;
    border-left: none;
}

.assistant-btn {
    width: 80%;
}

.endDay-box {
    box-shadow: -4px 4px 5px gray !important;
    border: 1px solid lightgray;
}









.btn-red:hover {
    background-color: rgba(220,53,69,.5);
    color: white !important;
    border: 1px solid rgba(220,53,69,.5);
}

.btn-blue:hover {
    background-color: rgba(0, 123, 255, .5);
    color: white !important;
    border: 1px solid rgba(0, 123, 255, .5);
}

.btn-green:hover {
    background-color: rgba(40, 167, 69, .5);
    color: white !important;
    border: 1px solid rgba(40, 167, 69, .5);
}

.btn-gray:hover {
    background-color: rgba(108, 117, 125, .5);
    color: white !important;
    border: 1px solid rgba(108, 117, 125, .5);
}

.btn-yellow:hover {
    background-color: rgba(255, 193, 7, .5);
    color: white !important;
    border: 1px solid rgba(255, 193, 7, .5);
}

.background-light {
    background: rgba(0, 0, 0, .3);
}
