<div class="col-md-12 d-flex flex-wrap justify-content-around p-1">

    <div class="col-md-5 d-flex flex-wrap justify-content-center m-1 p-2 bill-btn ">
        <i class="fas fa-concierge-bell col-md-12" style="font-size:20px;"></i>
        <span class="col-md-12">
            Comandar
        </span>
    </div>
    <div class="col-md-5 d-flex flex-wrap justify-content-center m-1 p-2 bill-btn"  onclick="getDiscountView()">
        <i class="fas fa-percent col-md-12" style="font-size:20px;"></i>
        <span class="col-md-12">
            Descuento
        </span>
    </div>
</div>

<div class="col-md-12 d-flex flex-wrap justify-content-around p-1" >
    <div class="col-md-5 d-flex flex-wrap justify-content-center m-1 p-2 bill-btn">
        <i class="fas fa-users col-md-12" style="font-size:20px;"></i>
        <span class="col-md-12">
            Dividir 
        </span>
    </div>
    <div class="col-md-5 d-flex flex-wrap justify-content-center m-1 p-2 bill-btn ">
        <i class="fas fa-receipt col-md-6 " style="font-size:20px;"></i>
        <i class="fas fa-receipt col-md-6 " style="font-size: 20px;"></i>

        <span class="col-md-12 ">
            Separar 
        </span>
    </div>
</div>

<div class="col-md-12 d-flex flex-wrap justify-content-around p-1">
    <div class="col-md-2 d-flex flex-wrap justify-content-center p-2  bill-btn" style="background-color: rgba(40, 167, 69, .6) !important;">
        <i class="fas fa-cash-register " style="font-size: 20px;"></i>
        <span class="col-md-12">
            Facturar
        </span>
    </div>

    <div class="col-md-2 d-flex flex-wrap justify-content-center p-2 bill-btn" style="background-color:rgba(220, 53, 69, .6) !important;">
        <i class="fas fa-times " style="font-size:20px;"></i>
        <span class="col-md-12">
            Anular
        </span>
    </div>
</div>









