<div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
    <i class="fas fa-concierge-bell col-md-12" style="font-size:30px;"></i>
    <span class="col-md-12">
        Comandar
    </span>
</div>
<div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
    <i class="fas fa-percent col-md-12" style="font-size:30px;"></i>
    <span class="col-md-12">
        Descuento
    </span>
</div>
<div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
    <i class="fas fa-users col-md-12" style="font-size:20px;"></i>
    <span class="col-md-12">
        Dividir cuenta
    </span>
</div>
<div class="col-md-5 d-flex flex-wrap justify-content-center my-2 p-2 bill-btn ">
    <i class="fas fa-receipt col-md-6 " style="font-size:25px;"></i>
    <i class="fas fa-receipt col-md-6 " style="font-size: 25px;"></i>

    <span class="col-md-12 ">
        Separar cuenta
    </span>
</div>

<div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color: rgba(40, 167, 69, .6) !important;">
    <i class="fas fa-cash-register " style="font-size: 30px;"></i>
    <span class="col-md-12">
        Facturar
    </span>
</div>

<div class="col-md-2 d-flex flex-wrap justify-content-center p-1 pt-4 bill-btn" style="background-color:rgba(220, 53, 69, .6) !important;">
    <i class="fas fa-times " style="font-size:30px;"></i>
    <span class="col-md-12">
        Anular
    </span>
</div>
