<div class="col-1 justify-content-center align-items-center bill-item-check">
    <input class="form-check" type="checkbox" checked />
</div>
<div class="col-3 p-0">
    <h6>
        <strong>
            Producto
        </strong>
    </h6>
</div>
<div class="col-3 p-0">
    <h6>
        <strong>
            Cantidad
        </strong>
    </h6>
</div>
<div class="col-1 p-0 product-price">
    <h6>

        <strong>
            Cdu
        </strong>
    </h6>
</div>
<div class="col-2 p-0">
    <h6>

        <strong>
            Total
        </strong>
    </h6>
</div>
<div class="col-3 p-0">
    <h6>
        <strong>
            Observacion:
        </strong>
    </h6>
</div>
