@*@for (int i = 0; i < 1; i++)
    {

        <div class="col-12 bill-item d-flex flex-wrap text-white text-center border-white ">
            <div class="col-1 justify-content-center align-items-center bill-item-check">
                <input class="form-check" type="checkbox" checked />
            </div>
            <div class="col-3 p-0">
                Arroz con pollo
            </div>
            <div class="col-2 p-0">
                2
            </div>
            <div class="col-1 p-0">
                ¢3,000
            </div>
            <div class="col-2 p-0">
                ¢6,000
            </div>
            <div class="col-3 p-0">
                <input type="text" class="form-control rounded" />

            </div>
        </div>
    }
*@