
<div class="d-flex flex-wrap col-md-12 p-0 justify-content-end">
    <div class="col-md-12 justify-content-end d-flex p-1">
        <i class="fab fa-cc-visa" style="font-size:30px;"></i>
        <input type="text" name="name" value="" class="form-control col-6 mx-2" />
    </div>
    <div class="col-md-12 justify-content-end d-flex p-1">
        <h4 class="mx-1 p-0">
            ¢
        </h4>
        <i class="fas  fa-coins " style="font-size:30px;"></i>
        <input type="text" name="name" value="" class="form-control col-6 mx-2" />
    </div>
    <div class="col-md-12 justify-content-end d-flex p-1">
        <h4 class="mx-1 p-0">
            $
        </h4>
        <i class="fas fa-file-invoice-dollar" style="font-size:30px;"></i>
        <input type="text" name="name" value="" class="form-control col-6 mx-2" />
    </div>
</div>
