<div class="col-12 p-0 d-flex flex-wrap ">
    <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <strong>
            Subtotal:
        </strong>
    </label>
    <div class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <span>¢</span>
        <span name="subtotal" id="subtotal">0</span>
    </div>
</div>
<div class="col-12 p-0 d-flex flex-wrap">
    <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <strong>
            Impuestos:
        </strong>
    </label>
    <div class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <span>¢</span>
        <span name="impuestos" id="impuestos">0</span>
    </div>
</div>
<div class="col-12 p-0 d-flex flex-wrap">
    <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <strong>
            Extras:
        </strong>
    </label>
    <div class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <span>¢</span>
        <span name="extras" id="extras">0</span>
    </div>
</div>
<div class="col-12 p-0 d-flex flex-wrap ">
    <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <strong>
            Descuento:
        </strong>
    </label>
    <div class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <span>¢</span>
        <span name="descuento" id="descuento">0</span>
    </div>
</div>

<div class="col-12 p-0 d-flex flex-wrap ">
    <label class="col-md-8 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <strong>
            Total:
        </strong>
    </label>
    <div class="col-md-3 mx-2 m-0 d-flex align-items-center p-0" style="justify-content: flex-end;">
        <span>¢</span>
        <span name="total" id="total">0</span>
    </div>
</div>
