@model IlCapo.Models.Bill

@{ 
    var phone = "";
    if (Model.Client.Phone != 0)
    {
        phone = Model.Client.Phone.ToString();
    }
}

<div class="col-md-4 p-1 d-flex flex-wrap justify-content-center">
    <label class="mx-2 col-md-6">Nombre</label>
    <input type="text" class="form-control rounded" value="@Model.Client.Name" />
</div>

<div class="col-md-3 p-1 d-flex flex-wrap justify-content-center ">
    <label class="mx-2 col-md-6">Telefono</label>
    <input type="number" class="form-control rounded" value="@phone" />
</div>

<div class="col-md-4 p-1 d-flex flex-wrap justify-content-center ">
    <label class="mx-2 col-md-6">Direcciones</label>
    <input type="text" class="form-control rounded" value="@Model.Address.Description" />
</div>

